
@tailwind base;
@tailwind components;
@tailwind utilities;




#root {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
}

body {
  font-family: 'DM Sans', sans-serif;
}
